%h1
  Trips controller, edit action
%p
  Edit this file in
  %tt
    app/views/trips/edit.html.erb
= error_messages_for @trip

= form_for(@trip, :action => url(:trip, @trip)) do
  %p
    = submit "Update"

= link_to 'Show', url(:trip, @trip)
|
= link_to 'Back', url(:trips)