%h3
  Showing
  = Trip.count
  trips

%table{:cellspacing => "0", :style => "background: white", :id=>"trips"}
  %thead
    %tr
      %th
        Trip
      %th
        User
      %th
        On
      %th
        At
      %th
        Return
      %th
        Details
    %tr{:style => "background: #8a765f"}
      %td
        Search trips from
        = text_field :name => "from"
        to
        = text_field :name => "to"
        = button 'Search', :onclick => "javascript:refresh_trips()"
      %td
      %td
      %td
      %td
      %td
  %tbody
    - @trips.each do |trip|
      %tr{:class => cycle('odd','even')}
        %td
          == #{trip.start_stop.name} to #{trip.end_stop.name}
        %td
          = trip.user.nick
        %td
          = trip.on.to_s.gsub("_"," ")
        %td
          = trip.out_time
        %td
          = trip.in_time
        %td
          = link_to 'Show', resource(trip)

