- if show_rocket?
  = image_tag('/images/rocket.png', :border => "0px", :id => "rocket")
  #bold
    %h1
      Mumbai
    %h2
      Are you ready for a new way to travel?
      %br
      fast. safe. comfortable. convenient.
      %br
      it's not just a bus. it's rbus!

%p#summary
  = link_to "#{Trip.count}", url(:trips) 
  trips. 
  = link_to "#{User.count}", resource(:users) 
  users.
  %b Add yours now!
  
#trip
  - unless @trip.errors
    %h2 
      Get started now!
  = error_messages_for @trip
  = form_for(@trip, :action => url(:trips)) do
    %table
      %tr
        %td
          I go from
        %td
          = text_field :name => :from, :value => params[:from]
          = hidden_field :start_stop_id
        %td{:rowspan => "2"}
      %tr
        %td
          to
        %td
          = text_field :name => :to, :value => params[:to]
          = hidden_field :end_stop_id
      %tr
        %td
          on
        %td
          = select :on, :collection => Trip.on.map{|m| [m.to_s, m.to_s.gsub("_"," ")]}
      %tr
        %td
          at
        %td
          = text_field :out_time
      %tr
        %td
          and back at
        %td
          = text_field :in_time
      - unless session.authenticated?
        %tr
          %td
            email
          %td
            = text_field :name => "user[login]", :value => (params[:user].nil? ? nil : params[:user][:login])
          %td{:style => "font-size: 12px"}
            (never disclosed)
        
        %tr
          %td
            nickname
          %td
            = text_field :name => "user[nick]", :value => params[:user].nil? ? nil : params[:user][:nick]
          %td{:style => "font-size: 12px"}
            (choose an anonymous handle)

    %input{ :type => "submit", :value => "Register My Trip", :style => "font-weight: bold" }
    %a{ :href => "/faq", :style => "position: relative; top: 5px; left: 25px;font-size: 25px;" }
      How it works?
