= error_messages_for @user
= form_for(@user, :action => resource(@user)) do
  %table
    %thead
      %tr
        %td{:colspan => "2"}
          %h1
            = @user.nick
    %tr
      %td
        New password
      %td
        = password_field :password
    %tr
      %td
        Confirm password
      %td
        = password_field :password_confirmation
  = submit 'Update My Details'