%div{:style => "width: 65%;"}
  %h1 
    = @user.nick
  - if @user == session.user
    = link_to '[Edit]', resource(@user, :edit)
  %ul
  - @user.trips.each do |trip|
    %li
      = trip.description
      %br
      = link_to "#{trip.nearby_trips.count - 1} other trips like this", resource(trip)
      