%h1
  Stops controller, edit action
%p
  Edit this file in
  %tt
    app/views/stops/edit.html.erb
= error_messages_for @stop

= form_for(@stop, :action => url(:stop, @stop)) do
  %p
    = submit "Update"

= link_to 'Show', url(:stop, @stop)
|
= link_to 'Back', url(:stops)